<div>
	<h1>My Bookmarks</h1>
</div>
<% @bookmarks.each do |bookmark| %>
	<div>
    <h2><%= bookmark.title %></h2>
    <a href="http://<%= bookmark.url %>" target="_blank"><%= bookmark.url %></a><br>
    <em><a href="/bookmarks/<%= bookmark.id %>">Details</a></em>
  </div>
<% end %>
<br>
<div>
  <%= link_to("Create a New Bookmark", new_bookmark_path) %>
</div>