<div>
  <h1><%= @bookmark.title %></h1>
	<p>
		<strong><a href="<%= @bookmark.url %>" target="_blank"><%= @bookmark.url %></a></strong>
	</p>
  <p>
    <%= @bookmark.notes %>
  </p>
</div>
<div>
  <span>
    <em>Category: <strong><%= @bookmark.category %></strong></em> | 
  </span>
  <span>
    <em>Subcategory: <strong><%= @bookmark.subcategory %></strong></em> | 
  </span>
  <span>
    <em>Created: <%= @bookmark.created_at %></em>
  </span>
</div>
</br>
<div>
  <%= link_to("Edit This Bookmark", edit_bookmark_path(@bookmark.id)) %> | <%= link_to("Delete This Bookmark", bookmark_path(@bookmark.id), method: :delete) %>
</div>
<br>
<div>
  <%= link_to("Back to List of Bookmarks", bookmarks_path) %>
</div>
