<div class="col-sm-12">
  <h2>Sign Up</h2>
</div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal', role: 'form', :multipart => true }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= f.label :first_name %><br />
      </div>
      <div class="col-sm-6">
        <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= f.label :last_name %><br />
      </div>
      <div class="col-sm-6">
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= f.label :email %><br />
      </div>
      <div class="col-sm-6">
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= f.label :password %><br />
      </div>
      <div class="col-sm-6">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
      <p class="help-block"><% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br /></p>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= f.label :password_confirmation %><br />
      </div>
      <div class="col-sm-6">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <label>Set profile image</label>
      </div>
      <div class="col-sm-6">
        <%= f.file_field :avatar %>
      </div>
    </div>

    <div class="form-group actions">
      <div class="col-sm-offset-2 col-sm-6"><%= f.submit "Sign up", class: "btn" %></div>
    </div>
  <% end %>


<br /><div class="col-sm-12">Already signed up? <%= render "devise/shared/links" %></div>
