<div class="col-sm-12">
  <h2>Change your password</h2>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form-horizontal', role: 'form',method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <div class="col-sm-2 control-label">
      <%= f.label :password, "New password" %><br />
    </div>
    <div class="col-sm-6">
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
    </div>
    <p class="help-block">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
    </p><br />
  </div>

  <div class="form-group">
    <div class="col-sm-2 control-label">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
    </div>
    <div class="col-sm-6">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group actions">
    <div class="col-sm-offset-2 col-sm-6"><%= f.submit "Change my password" %></div>
  </div>
<% end %>

<br /><div class="col-sm-12"><%= render "devise/shared/links" %></div>
