<div class="col-sm-12">
  <h2>Forgot your password?</h2>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form-horizontal', role: 'form',method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <div class="col-sm-2 control-label">
      <%= f.label :email %><br />
    </div>
    <div class="col-sm-6">
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group actions">
    <div class="col-sm-offset-2 col-sm-6"><%= f.submit "Send me reset password instructions", class: 'btn' %></div>
  </div>
<% end %>

<br /><div class="col-sm-12"><%= render "devise/shared/links" %></div>
