<div>
<% if user_signed_in? %>
  <br><br>
  <!-- <div class="container"> -->
    <div class="row">
      <div class="col-sm-12">
        <h2>Hello <%= current_user.first_name %>!</h2>
      </div>
      <div class="col-sm-6">
        <%= image_tag(current_user.avatar.url(:medium), class: 'img-rounded')  %>
        <%= link_to("My Bookmarks", bookmarks_path) %>
      </div>
      <div class="col-sm-12">
        <br /><%= link_to("Edit Account", edit_user_registration_path) %> | 
        <%= link_to("Sign Out", destroy_user_session_path, method: :delete) %>
      </div>
    </div>
  <% else %>
    <div class="home-page alt-grid">
      <!-- <img src="/assets/open_book.jpg"> -->
      <br><br>
      <div class="row">
        <div class="col-sm-5 col-sm-offset-7">
          <h1 class="">Welcome to <strong><span class="red roboto">mark</span><span class="white roboto">it</span></strong>!</h1>
          <h5>A bookmark app where you can store all of your favorite links.</h5>
        </div>
        <div class="col-sm-5 col-sm-offset-7">
          <em>
            <div class=""><%= link_to("Sign In", new_user_session_path, class: '') %> to see your bookmarks.</div>
            <div class="">New user? <%= link_to("Sign Up", new_user_registration_path, class: '') %></div>
          </em>
        </div>
      </div>
    </div>
  <!-- </div> -->
<% end %>
</div>