<div>
<% if user_signed_in? %>
  <br><br>
  <!-- <div class="container"> -->
    <div class="row">
      <div class="col-sm-12">
        <h2>Hello <%= current_user.first_name %>!</h2>
      </div>
      <div class="col-sm-6">
        <%= image_tag(current_user.avatar.url(:medium), class: 'img-rounded')  %>
        <%= link_to("My Bookmarks", bookmarks_path) %>
      </div>
      <div class="col-sm-12">
        <br /><%= link_to("Edit Account", edit_user_registration_path) %> | 
        <%= link_to("Sign Out", destroy_user_session_path, method: :delete) %>
      </div>
    </div>
  <% else %>
    <div class="home-page alt-grid">
      <!-- <img src="/assets/open_book.jpg"> -->
      <br><br>
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <h2 class="white">Welcome to Bookmark App!</h2>
        </div>
        <div class="col-sm-11 col-sm-offset-1">
          <div class="white"><%= link_to("Sign In", new_user_session_path, class: 'salmon') %> to see your bookmarks.</div>
          <div class="white">New user? <%= link_to("Sign Up", new_user_registration_path, class: 'salmon') %></div>
        </div>
      </div>
    </div>
  <!-- </div> -->
<% end %>
</div>